<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>이 부분은 index.mustache 파일 입니다.</h1>
        {{! 이 부분은 주석입니다. - 코드 수정 - }}
        <h2>{{name}}</h2>
        <h2>{{age}}</h2>
        <h2>{{password}}</h2>
        <h2>{{email}}</h2>
        <h2>{{{email}}}</h2>
    </body>
</html>
